.card-1 {
  background-color: cyan;
  margin-bottom: 50px;
}

.card-2 {
  background-color: pink;
}
.card-3 {
  background-color: lightgreen;
}
.card-4 {
  background-color: lightgoldenrodyellow;
}

.jumbotron {
  text-align: center;
  background-color: plum;
}

body { 
  background-color: rgb(78, 70, 180);
}